**/.DS_Store
**/*.gz
**/.ipynb_checkpoints
**/*.pptx
**/.Rhistory
**/*.Rproj*
.virtual_documents/
**/*.zip
**/*.fcs
**/*.sif
**/*.wsp
**/*.RDS
**/*.rds
**/*.Rds
**/*.RData
__pycache__/
*.pyc
*.wav
*.h5ad
.Rproj.user/*
.Rhistory
.Rproj.user
soundfonts/
